.aboutUs{
    width:100%;
    padding:65px 0;
    display:flex;
    justify-content: center;
    background-color: #f9fafb;;
}
.aboutUsContent{
    width:70%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.aboutUsContent h1{
    font-size: 2.1rem;
    color:purple
}
.aboutDescription{
    margin:15px;
    display:flex;
    flex-direction:column;
    gap:15px;
} 

.aboutDescription p{
    text-align: center;
    font-size: large;
    line-height: 2rem;
      color: #374151; /* gray-700 */

}

/* Tablets (≤1024px) */
@media (max-width: 1024px) {
  .aboutUsContent {
    width: 85%;
  }

  .aboutUsContent h1 {
    font-size: 1.8rem;
  }

  .aboutDescription p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}
